#carouselExampleIndicators {
  position: relative;
  margin-bottom:30px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  background: transparent;
}

.carousel-control-prev {
  left: 300px;
}

.carousel-control-next {
  right: 300px;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  text-align: center; /* Center the content within each carousel item */
}

.carousel-image {
  max-height: 350px; /* Set the maximum height as per your requirement */
  margin: auto; /* Center the image horizontally */
}


  details {
 width: 50%;
 margin: 0 auto;
 background: #282828;
 margin-bottom: 0.5rem;
 box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, .4);
 border-radius: 5px;
 overflow: hidden;
}
summary {
  color:lightgreen;
 padding: 1rem;
 display: block;
 background: #333;
 padding-left: 2.2rem;
 position: relative;
 cursor: pointer;
}
summary:before {
 content: '';
 border-width: 0.4rem;
 border-style: solid;
 border-color: transparent transparent transparent #fff;
 position: absolute;
 top: 1.3rem;
 left: 1rem;
 transform: rotate(0);
 transform-origin: 0.2rem 50%;
 transition: 0.25s transform ease;
}
/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
 transform: rotate(90deg);
}
details summary::-webkit-details-marker {
 display: none;
}
details > ul {
  margin-top:1rem;
 padding-bottom: 1rem;
 margin-bottom: 0;
}
body {
 background: #222;
 height: 100vh;
 font-family: sans-serif;
 color: white;
 line-height: 1.5;
 letter-spacing: 1px;
 margin-top: 0;
}
button {
  background-color: lightgreen;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 10px 20px;
  width: 50%;
}

button:hover {
  background-color: green;
}
  /* Custom styles for owl carousel */
  .owl-carousel .owl-dots .owl-dot {
    background: lightgreen;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
  }

  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .owl-carousel .owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 24px;
    color: #000;
    transition: all 0.3s ease;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 10px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: 10px;
  }

  .owl-carousel .owl-nav button:focus {
    outline: none;
  }

  .owl-carousel .owl-nav button:hover {
    color: lightgreen;
  }
  .owl-carousel .owl-nav  button:hover {
    color: lightgreen;
  }

  /* Custom styles for owl carousel */
  .owl-carousel .owl-item .work {
    height: 400px; /* Adjust the height as desired */
  }

  .owl-carousel .owl-item img {
    max-height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .owl-carousel .owl-item .work {
      height: 250px; /* Adjust the height as desired for smaller screens */
    }
  }
  .owl-dot {
    color: lightgreen;
  }
  .owl-dot.active > span {
   color: lightgreen ;
 }

 .navbar{
   margin-bottom:50px;
   background: #1A1A1A;
 }
 .navbar-brand {
   color:lightgreen;
   font-weight: bold;
   font-size: 2rem;
 }

 .nav-link {
   color:lightgreen;
   font-weight: bold;
   font-size: 1.2rem;
   margin-left: 1.5rem;
 }
 .nav-link:hover {
   color:green;
 }
 .navbar-brand:hover{
   color:green;
 }

 @media (max-width: 768px) {
   .navbar-nav {
     flex-direction: column;
     align-items: center;
   }

   .nav-link {
     margin-left: 0;
     margin-top: 1rem;
   }
 }

 /* footer css */

 footer {
     background: #3e8e41;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 60px 0;
   margin-top:50px;
 }

 #footer .container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .social-icons {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
 }

 .social-icons a {
   color: #333333;
   font-size: 24px;
   margin-right: 10px;
   transition: color 0.3s ease-in-out;
 }

 .social-icons a:hover {
   color: white;
 }

 #footer p {
   margin: 0;
   font-size: 18px;
   color: #333333;
 }

 @media screen and (max-width: 768px) {
   /* adjust layout for smaller screens */
   #footer h1 {
     font-size: 36px;
   }

   #footer h2 {
     font-size: 20px;
   }

   /* form.ev {
     margin: 20px 15px;
     max-width: 400px;
   }
  */
   /* adjust button styles */
   #footer button {
     padding: 8px 16px;
     font-size: 14px;
   }

   /* adjust footer styles */
   .social-icons {
     margin-bottom: 20px;
   }

   #footer p {
     font-size: 16px;
   }
 }
